body {
  display: flex;
  flex-direction: column;
}

.navigation {
  display: grid;
  grid-template-columns: 15% 15% 15% 30% 25%;
  grid-template-rows: 40% 60%;
  background: #48304B;
  height: 12em;
}

h1 {
  grid-column-start: 5;
  font-size: 1.5em;
  color: #78C3FB;
  justify-self: end;
}

.logo {
  grid-column-start: 5;
  grid-row-start: 2;
  height: 4.5em;
  width: 4.5em;
  justify-self: end;
  align-self: center;
  padding-right: 1em;
  padding-bottom: 1em;
}

.navigation-icons {
  grid-row-start: 2;
  grid-column: 1/4;
  color: #78C3FB;
  align-self: center;
}
/* grid-template-columns: repeat(3, 1fr); */ for card section
