* {
  border: solid 1px black;
}

body {
  display: flex;
  flex-direction: column;
  background: #DDDBCF;
}


.header {
  display: grid;
  grid-template-columns: 15% 15% 15% 30% 25%;
  grid-template-rows: 40% 60%;
  background: #48304B;
  height: 12em;
}


h1 {
  grid-column-start: 5;
  font-size: 1.5em;
  color: #78C3FB;
  justify-self: end;
}


.logo {
  grid-column-start: 5;
  grid-row-start: 2;
  height: 4.5em;
  width: 4.5em;
  justify-self: end;
  align-self: center;
  padding-right: 1em;
  padding-bottom: 1em;
}


.header-icons {
  grid-row-start: 2;
  grid-column: 1/4;
  color: #78C3FB;
  align-self: center;
  font-size: 1.5em;
}


h2 {
  color: #48304B;
}


.songs {
  display: grid;
  /* grid-template-columns: repeat(4, 1fr); */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  /* grid-template-rows: 33% 33% 33%; */
  /* height: 75vh; */
  grid-gap: 2em;
}


.card {
  display: flex;
  flex-direction: column;
  background-color: #EBEBEB;
  /* max-height: 400px; */
  width: 280px;
}

.upper-card {
  /* background: linear-gradient(
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)),
    url("./assets/beautifulday.jpg"); */
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 140px;
}


.album-image {
  /* position: absolute; */
  z-index: 1;
  width: 15em;
  height: 10em;
}


.play-icon {
  /* position: relative; */
  font-size: 2em;
  z-index: 2;
  margin-left: 0.2em;
  margin-top: 0.2em;
}

.number-of-plays {
  color: white;
  /* position: absolute; */
  margin-left: 11em;
  margin-top: 0.2em;
  z-index: 2;
  font-size: 1em;
}

.lower-card {
  padding: 1em;
}
.song-title {
  /* position: absolute; */
  /* margin-top: 10.2em; */
}

.album-title {
  /* margin-top: 14.4em; */
  font-size: 19px;
}

.music-video-url {
  padding: 5px;
  background-color: gray;;
}
.upper-card1 {
  background: linear-gradient(
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)),
    url("./assets/beautifulday.jpg");
}
.upper-card2 {
  background: linear-gradient(
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)),
    url("./assets/callmeirresponsible.jpg");
}

.upper-card3 {
  background: linear-gradient(
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)),
    url("./assets/crazylove.jpg");
}

.upper-card4 {
  background: linear-gradient(
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)),
    url("./assets/everything.jpg");
}

.upper-card5 {
  background: linear-gradient(
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)),
    url("./assets/feelinggood.jpg");
}

.upper-card6 {
  background: linear-gradient(
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)),
    url("./assets/MB.jpg");
}

.upper-card7 {
  background: linear-gradient(
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)),
    url("./assets/MB2.jpg");
}

.upper-card8 {
  background: linear-gradient(
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)),
    url("./assets/sway.jpg");
}

.upper-card9 {
  background: linear-gradient(
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)),
    url("./assets/tobeloved.jpg");
}
